sms.json
[
    {
        "id": "7be0b688.d81d78",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "72d2e30b.b338fc",
        "type": "Send SMS",
        "z": "7be0b688.d81d78",
        "creds": "dc180bb3.113c08",
        "name": "",
        "destinationAddress": "+15163127827",
        "senderAddress": "+15005810010",
        "message": "Hi ",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "7a65a0e0.d3023"
            ]
        ]
    },
    {
        "id": "a9beb8af.f06028",
        "type": "Analyze Notification",
        "z": "7be0b688.d81d78",
        "creds": "dc180bb3.113c08",
        "name": "",
        "webhook": " https://29de1e3e.ngrok.io",
        "destinationAddress": "+1201890789",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "69a4ff76.353f"
            ]
        ]
    },
    {
        "id": "a34d523d.ad56a",
        "type": "inject",
        "z": "7be0b688.d81d78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "72d2e30b.b338fc"
            ]
        ]
    },
    {
        "id": "7a65a0e0.d3023",
        "type": "debug",
        "z": "7be0b688.d81d78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "cpaas_response",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "69a4ff76.353f",
        "type": "debug",
        "z": "7be0b688.d81d78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "52a3aeb5.4944",
        "type": "http in",
        "z": "7be0b688.d81d78",
        "name": "",
        "url": "/incoming",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "a9beb8af.f06028"
            ]
        ]
    },
    {
        "id": "dc180bb3.113c08",
        "type": "cpaasbasic",
        "z": "",
        "name": "project 2",
        "authenticationType": "project",
        "baseUrl": "https://baseurl.domain.com",
        "clientId": "39rt517af-70af-4c66c-a3ee-7024612495475",
        "clientSecret": "39rt517af-70af-4c66c-a3ee-7024612495475",
        "email": "",
        "password": ""
    }
]
